GITHUB_APP_SLUG=linnet
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=
CORS_ALLOWED_ORIGINS=https://yuyangxueed.github.io,http://127.0.0.1:4321,http://localhost:4321
SESSION_SECRET=
ALLOW_UNSAFE_INSTALLATION_ID_DEPLOY=false
